/* reset start */
  *{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  body, footer{
     min-width:435px;
  }
/* reset end */

/* tipography start */
  html{
    font-size: 62.5%;
  }
  body{
    font-family: 'Jost', sans-serif;
    font-size: 1.4rem;
  }
  h2{
    color: #fff;
    font-size: 2.6rem;
    font-weight: 500;
    margin-left: 20px;
  }
  h3{
    color: #fff;
    font-size: 2rem;
  }
  figcaption{
    color: #fff;
    font-size: 1.5rem;
    margin: 10px 0 3px;
  }
  a:focus{
    text-decoration: none;
  }
  a:hover{
    text-decoration: none;
  }
  .ms_artist{
    color: #76787d;
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .ms_subtitle{
    color: #76787d;
    font-size: 1.3rem;
    margin-bottom: 20px;
    margin-left: 20px;
  }
/* typography end */

/* general rules start */
  .ms_container{
    height: 100vh;
    width: 100%;
  }
  .ms_row{
    margin: 20px 0;
  }
/* general rules end */

/* top bar start */
  .ms_top_bar{
    width: calc(100% - 230px);
    height: 70px;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: 230px;
    position: fixed;
    text-align: right;
    z-index: 1;
  }
  .ms_button{
    padding: 6px 30px;
    color: #fff;
    background-color: Transparent;
    border: 1px solid #fff;
    border-radius: 25px;
    margin: 20px 20px 0 0;
    font-weight: 500;
    font-family: 'Jost', sans-serif;
    font-size: 1.2rem;
  }
  .ms_button:hover{
    padding: 8px 32px;
    margin: 16px 20px 0 0;
    font-size: 1.4rem;
    transition: .3s;
  }
/* top bar end */

/* main start */
  /* leftside start */
    .ms_leftside_menu{
      background-color: #000;
      height: calc(100vh - 80px);
      width: 230px;
      position: fixed;
      z-index: 1;
    }
    .ms_logo{
      height: 40px;
      margin: 15px 0 20px 20px;
    }
    .ms_menu{
      height: calc(100% - 300px);
    }
    .ms_menu li {
      padding: 6px 20px;
    }
    .ms_menu li:first-child {
      border-left: 2px solid #adff2f;
    }
    .ms_menu li a{
     color: #6c6c6c;
    }
    .ms_menu li a:hover{
      color: #fff;
      transition: .3s;
    }
    .ms_menu li a:focus{
      color: #fff;
      transition: .3s;
    }
    .ms_icon{
      height:20px;
      vertical-align: text-top;
      color: #d2d2d2;
    }
    .ms_leftside_menu h3{
      padding: 5px 20px;
      margin-top: 8px;
    }
    .ms_playlist {
      height: calc(100% - 300px);
      overflow-y: auto;
    }
    .ms_playlist li:first-child {
      border: none;
    }
    .ms_playlist li:hover .ms_playlist_plus{
      background-color: #fff;
      transition: .3s;
    }
    .ms_playlist_plus{
      padding: 8px;
      background-color: #b4b4b4;
      color: #000;
      margin-right: 12px;
    }
    .ms_bottom_leftside{
      position: fixed;
      width:230px;
      height: 80px;
      bottom: 80px;
      background-color: #000;
    }
    .ms_download, .ms_user{
      position: absolute;
    }
    .ms_download{
      bottom: 40px;
      left: 15px;
      width: 190px;
      border-bottom: 1px solid #636363;
      padding-bottom: 5px;
      color: #6c6c6c;
      font-size: 1.3rem;
    }
    .ms_download:hover{
      color: #fff;
    }
    .ms_download:focus{
      color: #fff;
    }
    .ms_bottom_leftside i{
      padding: 0 6px 0 4px;
      display: inline-block;
    }
    .ms_user{
      bottom: 0;
      left: 15px;
      color: #fff;
      font-weight: 500;
      font-size: 1.6rem;
    }
    .ms_user i{
      font-size: 1.8rem;
    }
  /* leftside end */

  /* main content start */
    .ms_main_content{
      background-color: #141922;
      height: 100%;
      width: calc(100% - 230px);
      margin: 0 0 80px 230px;
      padding-top: 15px;
    }

    /* categories start */
      .ms_categories{
        margin: 70px 15px 25px;
        text-align: center;
      }
      .ms_categories li{
        position: relative;
        display: inline;
        font-size: 1.3rem;
        line-height: 3rem;
      }
      .ms_categories li a span:before{
        content : "";
        position: absolute;
        left    : 23px;
        bottom  : -5px;
        height  : 1px;
        width   : 30%;
        border-bottom:3px solid #adff2f;
      }
      .ms_categories li a{
        color: #707277;
        font-weight: 500;
        margin-right: 20px;
      }
      .ms_categories li:last-child a{
        margin-right: 0;
      }
      .ms_categories li a:hover{
        color: #fff;
        transition: .3s;
      }
    /* categories end */

    /* Recently played start */
      figure{
        text-align: center;
        width: 100%;
      }
      .ms_image a img{
        width: 100%;
        height: auto;
      }
      .ms_image{
        position:relative;
      }
      .ms_overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: #000;
      }
      .ms_image:hover .ms_overlay {
        opacity: 0.7;
      }
      .ms_playicon{
        color: #fff;
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      .ms_playicon:hover{
        color:#fff;
      }
      .ms_playicon:focus{
        color:#fff;
      }
      .fa-play-circle:hover {
        color: #fff;
      }
    /* Recently played end */

    /* Artisti popolari start */
      .ms_image_round a img{
        width: 100%;
        height: auto;
        border-radius: 50%;
      }
      .ms_image_round{
        position:relative;
      }
      .ms_overlay_round {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .3s ease;
        background-color: #000;
        border-radius: 50%;
      }
      .ms_image_round:hover .ms_overlay_round {
        opacity: 0.7;
      }
      .ms_playicon_round{
        color: #fff;
        font-size: 60px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        text-align: center;
      }
      .ms_playicon:hover{
        color:#fff;
      }
      .ms_playicon:focus{
        color:#fff;
      }
      .fa-play-circle:hover {
        color: #fff;
      }
    /* artisti popolari end */
  /* main content end */
/* main end */

/* footer start */
  .ms_player {
    background-color: #282828;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 80px;
    z-index: 1;
  }
  .ms_img_mini{
    height: 50px;
    margin-top: 15px;
    float: left;
  }
  .ms_song_mini{
    font-size: 1.4rem;
    color: #fff;
    margin: 25px 0 0 60px;
    width: 50px;
  }
  .ms_player .ms_artist{
    margin:2px 0 0 60px;
    width: 40px;
  }
  .ms_player .ms_artist:hover{
    color: #fff;
    text-decoration: underline;
  }
  .ms_player a .fa-heart, .ms_player a .fa-folder{
    float: left;
    margin-top: -25px;
    color: #6a6a6a;
    font-size: 1.3rem;
  }
  .ms_player a i{
    color: #fff;
  }
  .ms_player a i:hover{
    color: #fff;
  }
  .ms_player .fa-heart{
    margin-left: 90px;
  }
  .ms_player .fa-folder{
    margin-left: 120px;
  }
  .ms_player .ms_player_functions{
    width: 100%;
    height: 50px;
    margin-bottom: 5px;
  }
  .ms_player .ms_player_functions a i{
    margin: 20px 6px 0;
    height: 30px;
    vertical-align: middle;
  }
  .ms_player .ms_player_functions a:hover i{
    font-size: 1.7rem;
  }
  .ms_player .text-center a .fa-play-circle{
    font-size: 2.4rem;
    margin-top: 8px;
  }
  .ms_player .text-center a:hover .fa-play-circle{
    font-size: 200%;
  }
  .ms_greybar{
    background-color: #5a5a5a;
    width: 80%;
    height: 3px;
    margin: 0 auto ;
  }
  .ms_whitebar{
    position: relative;
    background-color: #c1c1c1;
    width: 30%;
    height: 3px;
  }
  .ms_greybar:hover .ms_whitebar {
    background-color: #adff2f;
  }
  .ms_whitebar .ms_miniball{
    position: absolute;
    right: -5px;
    bottom: -3px;
    height: 10px;
    width: 10px;
    background-color: #c1c1c1;
    border-radius: 50%;
    display:none;
  }
  .ms_greybar:hover .ms_miniball{
    display: inline-block;
  }
  .ms_time{
    color: #fff;
    font-size: 1.1rem;
    position: relative;
  }
  .ms_left_time{
    position: absolute;
    bottom: -18px;
    left: -20px;
  }
  .ms_right_time{
    position: absolute;
    bottom: -15px;
    right: -20px;
  }
  .ms_rightcol{
    margin-top: 30px;
  }
  .ms_rightcol a i{
    font-size: 1.3rem;
    margin-right: 8px;
  }
  .ms_rightside_player{
    width: 50%;
    margin: 0 0 4px;
    display: inline-block;
  }
/* footer end */

/* mediaquery xs start */
  @media all and (max-width: 767px) {

    /* leftside menu start */
      .ms_leftside_menu{
        width: 40px;
      }
      .ms_mini_logo{
        height: 22px;
        margin: 8px;
      }
      .ms_menu li {
        padding: 6px 9px;
      }
      .ms_menu li:first-child {
        border-left: none;
      }
      .ms_bottom_leftside{
        width:40px;
      }
      .ms_download{
        width: 40px;
        border-bottom: none;
        left: 8px;
      }
      .ms_user{
        left: 6px;
      }
    /* leftside menu end */

    /* top bar start */
      .ms_top_bar{
        width: calc(100% - 40px);
        margin-left: 40px;
      }
    /* top bar end */

    /* main content start */
      .ms_main_content{
        width: calc(100% - 40px);
        margin: 0 0 80px 40px;
      }
    /* main content end */

    /* footer start */
      .ms_img_mini{
        height: 30px;
        margin-top: 22px;
      }
      .ms_song_mini{
        font-size: 1.3rem;
        margin: 22px 0 0 40px;
        width: 50px;
      }
      .ms_player .ms_artist{
        margin:2px 0 0 40px;
      }
      .ms_player a .fa-heart, .ms_player a .fa-folder{
        margin-top: ;
        color: #6a6a6a;
        font-size: 1.3rem;
      }
      .ms_player .fa-heart{
        margin-left: 95px;
      }
      .ms_player .fa-folder{
        margin-left: 115px;
      }
      .ms_player .ms_player_functions a i{
        margin: 20px 2px 0;
      }
      .ms_greybar{
        width: 60%;
      }
      .ms_left_time{
        left: -10px;
      }
      .ms_right_time{
        right: -10px;
      }
      .ms_rightcol{
        margin-top: 30px;
      }
      .ms_rightcol a i{
        font-size: 1.2rem;
        margin-right: 8px;
      }
      .ms_rightside_player{
        width: 30%;
      }
    /* footer end */

  }
/* media query xs end */

/* mediaquery sm start */
  @media all and (min-width:768px) and (max-width: 991px) {

  }
/* media query sm end */

/* mediaquery md start */
  @media all and (min-width:992px) and (max-width: 1199px) {
    figure{
      width: 100%;
      height: 300px;
    }
  }
/* media query md end */
